.stat_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat_item {
  width: 70px;
  padding: 10px;

  background-color: aliceblue;
  border: 1px solid #80808082;

  
}

.label {
  margin-bottom: 10px;
}

.percentage {
  font-weight: bold;
}
