li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #0000001c; 
}

.description {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.avatar {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50%;
  width: 200px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.tag {
  font-size: 18px;
  color: gray;
}

.location {
  font-size: 18px;
  color: gray;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: center;
}

.item {
  padding: 20px 15px;
  background-color: aliceblue;
  border: 1px solid #0000001c; 
}

.label {
  margin-bottom: 6px;
}

.quantity {
  font-size: 16;
  font-weight: bold;
}
